{
  "presets": ["es2015", "react"],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "transform-class-properties",
    "transform-inline-environment-variables"
  ],
  "env": {
    "commonjs": {
      "plugins": [
        "transform-runtime",
        ["transform-object-rest-spread", { "useBuiltIns": true }],
        ["transform-react-remove-prop-types", {"mode": "wrap"}],
        "transform-class-properties",
        "transform-inline-environment-variables"
      ],
      "presets": ["es2015", "react"]
    },
    "es": {
      "plugins": [
        "transform-runtime",
        ["transform-react-remove-prop-types", {"mode": "wrap"}],
        "transform-class-properties",
        "transform-inline-environment-variables"
      ],
      "presets": ["es2015", "react"]
    }
  }
}
