{
  "presets": [[ "@babel/env" ,{loose: true}], "@babel/preset-react", "@babel/typescript"],
  "plugins": [
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],

    "@babel/plugin-proposal-class-properties",
    "transform-inline-environment-variables",
    "@babel/plugin-transform-runtime"
  ]
}
