{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "transform-inline-environment-variables"
  ],
  "env": {
    "commonjs": {
      "plugins": [
        "@babel/plugin-transform-runtime",
        [
          "@babel/plugin-proposal-object-rest-spread",
          {
            "useBuiltIns": true
          }
        ],
        [
          "transform-react-remove-prop-types",
          {
            "mode": "wrap"
          }
        ],
        "@babel/plugin-proposal-class-properties",
        "transform-inline-environment-variables"
      ],
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    },
    "es": {
      "plugins": [
        "@babel/plugin-transform-runtime",
        [
          "transform-react-remove-prop-types",
          {
            "mode": "wrap"
          }
        ],
        "@babel/plugin-proposal-class-properties",
        "transform-inline-environment-variables"
      ],
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    }
  }
}
